.advance-upgrade-status-form tr .norelease, .advance-upgrade-status-form .dev {
  background: #fcc none repeat scroll 0 0;
  border-color: #bebfb9;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  padding: 3px 10px;
}
.advance-upgrade-status-form tr .other {
  background: #fffce5;
  border-color: #bebfb9;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  padding: 3px 10px;
}
.advance-upgrade-status-form tr .available {
  background: #dfd;
  border-color: #bebfb9;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  padding: 3px 10px;
}
.advance-upgrade-status-form .header {
  background: #e1e2dc;
  text-transform: none;
}
.advance-upgrade-status-form caption, .advance-upgrade-status-form .markup {
  font-weight: bold;
}
